<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<style>
body
{
text-align:center;
}
</style>

<body>
<h1>hello there !</h1>
    <div class="alert-{{message.tags}}" role="alert">
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    </div>
    <div class="div1">
        <div class="div2">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/User_font_awesome.svg/2048px-User_font_awesome.svg.png"  height="100px" width="100px">
    </div>
    <a href="register"><button type="button" class="btn btn-primary a1">register</button></a>
    <a href="signin"><button type="button" class="btn btn-primary a2" >sign in</button></a>
        </div>
</body>
</html>